.excalidraw {
  .ExcalidrawLogo {
    --logo-icon--mobile: 4rem;
    --logo-text--mobile: 3rem;

    --logo-icon--xs: 8rem;
    --logo-text--xs: 6rem;

    --logo-icon--small: 10rem;
    --logo-text--small: 7rem;

    --logo-icon--normal: 12rem;
    --logo-text--normal: 9rem;

    --logo-icon--large: 360px;
    --logo-text--large: 260px;

    display: flex;
    align-items: center;

    svg {
      flex: 0 0 auto;
    }

    .ExcalidrawLogo-icon {
      width: auto;
      color: var(--color-logo-icon);
    }

    .ExcalidrawLogo-text {
      margin-left: 0.75rem;
      width: auto;
      color: var(--color-logo-text);
    }

    &.is-mobile {
      .ExcalidrawLogo-icon {
        height: var(--logo-icon--mobile);
      }

      .ExcalidrawLogo-text {
        height: var(--logo-text--mobile);
        margin-left: 0.5rem;
      }
    }

    &.is-xs {
      .ExcalidrawLogo-icon {
        height: var(--logo-icon--xs);
      }

      .ExcalidrawLogo-text {
        height: var(--logo-text--xs);
      }
    }

    &.is-small {
      .ExcalidrawLogo-icon {
        height: var(--logo-icon--small);
      }

      .ExcalidrawLogo-text {
        height: var(--logo-text--small);
      }
    }

    &.is-normal {
      .ExcalidrawLogo-icon {
        height: var(--logo-icon--normal);
      }

      .ExcalidrawLogo-text {
        height: var(--logo-text--normal);
      }
    }

    &.is-large {
      .ExcalidrawLogo-icon {
        height: var(--logo-icon--large);
      }

      .ExcalidrawLogo-text {
        height: var(--logo-text--large);
      }
    }
  }
}
